#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Optional additional styling */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 0.3s;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.7));
}

.read-the-docs {
  color: #888;
}